/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaUltralight"; */
@font-face {
    font-family: "HelveticaUltralight";
    url("../fonts/HelveticaUltralight/HelveticaUltralight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}